body {
    align-items: center;
}

ul {
    list-style-type: none;
    margin: auto;
    width: 60%;
    overflow: hidden;
    background-color: rgb(10, 10, 69);
}
li {
    float: left;
}

li a {
    display: inline-block;
    color: rgb(248, 248, 248);
    text-align: center;
    padding: 12px ;
    text-decoration: none;
}

#menu > li:last-child
{
    float:right;
}

li:hover {
    background-color: rgb(14, 14, 14);
}

.container2{
    width: 100%;
    width: 170rem;
    border-radius: 10px;
    margin-top: 23rem;
    margin-left: 10rem;

}

input {
    width: 85%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 20%;
    background-color: rgb(10, 10, 69);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-left: 22%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#button-1{
    background-color: rgba(225, 60, 60, 0.418);
    padding-right: 10px;
}
#button-2{
    background-color: rgba(100, 241, 44, 0.604);
    padding-right: 10px;
}

h1{
    padding-top: 1rem;
}
table{
    /* border-collapse: collapse;   */

    width: 700px;
    padding: 5rem;
    padding-bottom: 34rem;
}
th {
    border: 2px solid #dddddd;
}
td {
    border: 2px solid #dddddd;
    padding-right: 10px;   
}

/* Responsive layout - when screen size is 720 at max*/
@media screen and (max-width: 720px) {
    .container1 {
        width: 90%;
        margin-top: 0;
    }
    .container2 {
        width: 80%;
        margin-top: 0;
    }
    .col-1, .col-2{
        width: 100%;
    }
}