*{
  margin:0;
  padding:0;

}

table{
  border: #000000;
}

#myTable{
  width: 55rem;
  height: 66rem;
  margin-left: -2rem;
  border: #000000;
}

.container3{
  background-color: #9b83ef;
  height: 35rem;
  width: 50rem;
  border-radius: 3rem;
  margin-top: 3rem;
}

.mac-book-pro143-mac-book-pro143 {
    width: 100%;
    height: 1399px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgb(110,85,148);
  }
  .mac-book-pro143-divmenucollapse {
    top: 19px;
    left: 213px;
    width: 1385px;
    height: 40px;
    display: flex;
    position: absolute;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
  }


  .mac-book-pro143-linavitem {
    top: -5.4px;
    left: -28px;
    width: 84px;
    height: 46px;
    display: flex;
    padding: 17.1299991607666px 15.169998168945312px 15.870000839233398px 16px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.0020000000949949026);
  }
  .mac-book-pro143-text {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 19px;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: 22.8799991607666px;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-pro143-text02 {
    top: 11.334px;
    left: 70px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 19px;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: 22.8799991607666px;
    font-stretch: normal;
    text-decoration: none;
  }

  .btn{
    width: 6rem;
    height: 2rem;
    right: 20rem;
    background-color: #c7b0b7;
    border: 0;
    font-size: large;
    font-weight: bold;
    padding-right: 4rem;
  }

  .btn:hover{
    cursor: pointer;
    color: #000000;
    color: #9b83ef;
  }

  .mac-book-pro143-divcreatetaskbtn1 {
    top: 1px;
    left: 70rem;
    width: 140px;
    height: 45px;
    display: flex;
    position: absolute;
    box-shadow: 0px 4px 7px 0px rgba(26, 24, 29, 1) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: #c7b1b6;
  }
  .mac-book-pro143-text06 {
    top: 7px;
    left: 32px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 23.940000534057617px;
    font-stretch: normal;
    text-decoration: none;
  }




  .mac-book-pro143-logo1 {
    top: 8px;
    left: 25px;
    width: 63px;
    height: 63px;
    position: absolute;
  }
  .mac-book-pro143-text08 {
    top: 28px;
    left: 88px;
    color: rgba(255, 255, 255, 1);
    width: 109px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 30.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-pro143-divseamlessmountainsdemorepeat {
    top: 67px;
    left: -1px;
    width: 100%;
    height: 300px;
    position: absolute;
  }
  .mac-book-pro143-divmidgroundforegroundextended2 {
    top: 78px;
    left: -1px;
    width: 100%;
    height: 300px;
    position: absolute;
  }

  .mac-book-pro143-earnrewards3xacaba17epng {
    top: 155px;
    left: 48px;
    width: 235px;
    height: 158px;
    position: absolute;
    border-radius: 45px;
  }
  .mac-book-pro143-group1000004204 {
    top: 1193px;
    left: -1px;
    width: 100%;
    height: 206px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mac-book-pro143-group1000004190 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 206px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(39, 27, 61, 1);
  }
  .mac-book-pro143-text62 {
    top: 90px;
    left: 188px;
    color: rgba(255, 255, 255, 1);
    width: 306px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: Heebo;
    font-weight: 400;
    line-height: 22.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-pro143-group1000004174 {
    top: 64px;
    left: 30rem;
    height: 77px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mac-book-pro143-text64 {
    top: 61.330078125px;
    color: rgba(255, 255, 255, 1);
    width: 8px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Solid;
    text-align: left;
    font-family: Font Awesome 5 Free;
    font-weight: 400;
    line-height: 22.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-pro143-text65 {
    top: 59px;
    left: 17px;
    color: rgba(255, 255, 255, 1);
    width: 135px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 22.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-pro143-text67 {
    top: 30.33984375px;
    color: rgba(255, 255, 255, 1);
    width: 8px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Solid;
    text-align: left;
    font-family: Font Awesome 5 Free;
    font-weight: 400;
    line-height: 22.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-pro143-text68 {
    top: 29px;
    left: 17.5px;
    color: rgba(255, 255, 255, 1);
    width: 103px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 22.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-pro143-text70 {
    top: 1.33984375px;
    color: rgba(255, 255, 255, 1);
    width: 8px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Solid;
    text-align: left;
    font-family: Font Awesome 5 Free;
    font-weight: 400;
    line-height: 22.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  

  .mac-book-pro143-text79 {
    top: 1263px;
    left: 916px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 22.5px;
    font-stretch: normal;
    text-decoration: none;
  }


  .mac-book-pro143-text84 {
    top: 1337px;
    left: 916px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 22.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-pro143-text86 {
    top: 1221px;
    left: 879px;
    color: rgba(255, 255, 255, 1);
    width: 74px;
    height: auto;
    position: absolute;
    font-size: 18.75px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 22.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-pro143-text88 {
    top: 1304px;
    left: 916px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: SemiBold;
    text-align: left;
    font-family: Rubik;
    font-weight: 600;
    line-height: 15px;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-pro143-logo2 {
    top: 1251px;
    left: 65px;
    width: 89px;
    height: 89px;
    position: absolute;
  }

  .mac-book-pro143-logo3 {
    top: 18px;
    left: 100rem;
    width: 45px;
    height: 45px;
    position: absolute;
  }


  .mac-book-pro143-text90 {
    top: 190px;
    left: 305px;
    color: rgb(255, 255, 255);
    width: 500px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Bold;
    font-family: Roboto;
    font-weight: 700;
    line-height: 17px;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .mac-book-pro143-text90 .bio{
    font-size: 15px;
    line-height: 14px;
    color: #aea9aa;
  }

  .mac-book-pro143-text90 .tt{
    font-size: 17px;
  }

 

  
  .input[type=text], textarea {
    width: 100%;
    padding: 5px;
    padding-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .button {
    background-color: rgb(124, 86, 158);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    margin-left: 27px;
  }

  .button:hover{
    background-color: rgb(162, 95, 221);
  }
  .container {
    border-radius: 3rem;
    width: 950px;
    height: 26rem;
    background-color: #9b83ef;
    padding: 1.5rem;
    margin-top: 30rem;
    margin-left: 10rem;
  }
  
  .col-25 {
    font-weight: bold;
    width: 70%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 1px;
    margin-bottom: 7px;
  }

  .add{
    margin-left: 7rem;
  }

  .slN, .addHabit{
    width: 20rem;
  }

  textarea{
    width: 20rem;
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

